/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url(./banner.jpg) center / cover no-repeat;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
}

.about-sign-in-a {
    display: inline-block;
    float: right;
}

.about, .sign-in {
    text-decoration: none;
    margin-top: 20px;
    padding: 7px;
    display: inline-block;
    text-transform: uppercase;
}

.sign-in {
    margin-right: 60px;
    margin-left: 25px;
}